.App {
  min-height: 100vh ;;
  display: flex ;
  justify-content: center;
  align-items: center;
  background-color:  #3D3C3A;
  color :  rgb(106, 179, 100);
  

}

.container {
  display : flex ;
  height: 70vh ;
  border : 2px solid #a2d47d ;
  padding : 20px ;
  flex-direction: column;
  align-items: center;

}

.todoForm {
  display : flex ;
  justify-content: space-around;
  width: 450px;


}

input {
  width : 80% ;
  padding: 10px;
  border-radius: 20px;
  border : none ;

}

button {
  border: none;
  padding : 10px; 
  border-radius: 20px;
  margin : 0 5px ;

}

.allToDos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.singleToDos {
  border-radius: 50px;
  margin: 10px 0;
  background-color: #89AF6E;
  color : black ;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  width: 450px;
}

.toDoText {
  flex : 1;
}